/* header css start */
body{
margin: 0px;
padding: 0px;
overflow-x: hidden;
}

header{
  padding: 15px 0px;
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 9;
}

/* header .container-fluid{
  padding-right: 0px;
} */

.my_logo img{
  width: 200px;
}

.desk_menu ul {
  margin: 0px;
  padding: 0px;
}

.desk_menu ul li{
  display: inline-block;
  margin-right:30px;
}

.desk_menu ul li a{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.desk_menu ul li .active{
  color: #FF7F50;
}

.desk_menu ul li:last-child{
  display: inline-block;
  margin-right:0px;
}

.desk_menu ul{
  display: flex;
  align-items: center;
}

.desk_menu{
  border:1px solid #FF7F50;
  background-color:#00000047;
  padding: 20px 30px;
  border-radius: 100px 0px 0px 100px;
  position: relative;
  z-index: 1;
}

.desk_menu:after {
    content: '';
    width: 100%;
    height: 100%;
    background: inherit;
    position: absolute;
    left: 0;
    top:0;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
    filter: blur(10px);
    z-index: -1;
}

a{
  text-decoration:none;
}

.header_menu_text{
  text-align: right;
}

.header_menu_text h4{
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}


/* header css end */

/* Banner Section Css */

.my_hero_banner{
  width: 100%;
  height: 100vh;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  overflow: hidden;
}
.slide-image {
  position: absolute;
  top: -200px;
  left: -200px;
  width: calc(100% + 400px);
  height: calc(100% + 400px);
  background-position: 50% 50%;
  background-size: cover;
}
.slide-title {
  font-size: 60px;
  font-weight: 900;
  line-height: 1;
  color: #FFF;
  z-index: 100;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.banner_text{
  z-index: 9;
  width: 60%;
}

.banner_text p{
  color: #fff;
  font-size: 20px;
}

.slide-title span {
  white-space: pre;
  display: inline-block;
  opacity: 0;
}

.slideshow {
  position: relative;
}
.slideshow-pagination {
  position: absolute;
  bottom: 5rem;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: .3s opacity;
  z-index: 10;
}
.slideshow-pagination-item {
  display: flex;
  align-items: center;
}
.slideshow-pagination-item .pagination-number {
  opacity: 0.5;
}
.slideshow-pagination-item:hover, .slideshow-pagination-item:focus {
  cursor: pointer;
}
.slideshow-pagination-item:last-of-type .pagination-separator {
  width: 0;
}
.slideshow-pagination-item.active .pagination-number {
  opacity: 1;
}
.slideshow-pagination-item.active .pagination-separator {
  width: 10vw;
}
.slideshow-navigation-button {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5rem;
  z-index: 1000;
  transition: all .3s ease;
  color: #FFF;
}
.slideshow-navigation-button:hover, .slideshow-navigation-button:focus {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}
.slideshow-navigation-button.prev {
  left: 0;
}
.slideshow-navigation-button.next {
  right: 0;
}

.pagination-number {
  font-size: 1.8rem;
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  padding: 0 0.5rem;
}

.pagination-separator {
  display: none;
  position: relative;
  width: 40px;
  height: 2px;
  background: rgba(255, 255, 255, 0.25);
  transition: all .3s ease;
}
@media (min-width: 45em) {
  .pagination-separator {
    display: block;
  }
}
.pagination-separator-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  transform-origin: 0 0;
}

.mybutton{
  margin-top: 30px;
}

.mybutton a.animated-button.thar-three {
	color: #fff;
	cursor: pointer;
	position: relative;
	border: 2px solid #FF7F50;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  padding: 15px 30px;
  font-size: 16px;
  text-transform: uppercase;

}
.mybutton a.animated-button.thar-three:hover {
	color: #fff !important;
	background-color: transparent;
	text-shadow: nthree;
}
.mybutton a.animated-button.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
.mybutton a.animated-button.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #fff !important;
	background: #FF7F50;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);

}
.my_main_banner {
  background-image: url('/assets/banner-img.webp');
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  background-position: bottom center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.my_main_banner::after{
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.22);
  z-index: -1;
}

.banner_text_my{
  text-align: center;
}

.banner_text_my h1{
  font-size: 56px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0px 1px 6px rgba(51, 51, 51, 0.20);
}

.banner_text_my h2{
  font-size: 30px;
  font-weight: 400;
  color: #FF7F50;
  text-shadow: 0px 1px 6px rgba(51, 51, 51, 0.20);
}

.banner_text_my p{
  color: #fff;
  font-size: 18px;
}

.banner_text_my h4{
  color: #FF7F50;
  font-weight: 400;
}

.mybutton a{
  background-color: #FF7F50;
  color: #fff;
  font-size: 18px;
  padding: 15px 25px;
  border-radius: 50px;
  text-decoration: none;
}

/* Banner Section Css */

/* social CSS */
/*Sticky Bar Css*/
.sticky_right {
    position: fixed;
    top: 35%;
    right: -150px;
    z-index: 99;
}

.sticky_right ul{
  margin: 0px;
  padding: 0px;
}

.sticky_right ul li {
  position: fixed;
  background-color: #FF7F50;
  padding: 8px;
  border-radius: 3px 0px 0px 3px;
  color: #fff;
  transition: 0.3s;
  z-index: 1;
  }

  /* .sticky_right ul li:after {
    content: '';
    width: 100%;
    height: 100%;
    background: inherit;
    position: absolute;
    left: 0;
    top:0;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.05);
    filter: blur(10px);
    z-index: -1;
} */

.sticky_right ul li{
    list-style: none;
}

  .sticky_right ul li:first-child {
   top: 35%;
    right: -76px;
  }

  .sticky_right ul li:nth-child(2) {
    top: 42%;
    right: -80px;
  }

  .sticky_right ul li:nth-child(3) {
    top: 49%;
    right: -68px;
  }

  .sticky_right ul li:nth-child(4) {
    top: 55%;
    right: -80px;
  }

  .sticky_right ul li:last-child {
    top: 62%;
    right: -67px;
    }


  .sticky_right ul li:hover {
    right: 0 !important;
  }

  .sticky_right ul li a {
    color: #fff;
    display: flex;
    text-decoration: none;
  }

  .sticky_right ul li a  svg{
    margin-right: 10px;
  }

  .sticky_right ul li a i {
    width: 20px;
    text-align: center;
  }

  /* About Us Css */

  .about_ira{
    margin-top: 100px;
    /* background-color: whitesmoke;
    padding: 80px 0px; */
  }

  .why_choose{
    margin-top: 100px;
    background-color: #4682B4;
    padding: 80px 0px;
  }

    .why_choose h3{
      color: #fff;
    }

     .why_choose h3 span{
      color: #000000;
    }

    .why_choose p{
      color: #fff;
    }

  .about_ira img{
    border-radius: 10px;
  }

  .about_ira .ira_about_image_box {
    position: relative;
    padding-right: 50px;
}

.about_ira .ira_about_image_box .image-round{
    position: absolute;
    top: 100px;
    right: 100px;
}

.tg-chose-3-star {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px auto;
}

.rotate-infinite-2{
    -webkit-animation: rotate-infinite-2 15s linear infinite;
    animation: rotate-infinite-2 15s linear infinite;
}

@keyframes rotate-infinite-2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

 h3{
   font-size: 42px;
   font-weight: 700;
   margin-bottom: 30px;
}

 h3 span{
  color: #FF7F50;
}

.about_ira .ira_about_text h4{
  font-size: 16px;
  color: #FF7F50;
}

.sub_section{
  margin-top: 100px;
}

.sub_section_text{
  text-align: center;
}

.about_video{
  margin-top: 100px;
}

.my_video iframe{
border-radius: 10px;
}

.about_video .my_video{  
  overflow: hidden;
  padding-left: 30px;
}

.about_video .my_content{
  padding-left: 30px;
}

.doc_box{
  box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 2px 0px inset, rgba(0, 0, 0, 0.1) 7px 7px 20px 0px, rgba(0, 0, 0, 0.1) 4px 4px 5px 0px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.doc_box p:last-child{
  margin-bottom: 0px;
}

.affordable{
  margin-top: 80px;
}

.why_choose .why-box{
  display: flex;
  margin-bottom: 22px;
  padding-right: 20px;
  align-items: center;
}

.why_choose .col-lg-6:first-child{
  padding-right: 30px;
}

.why_choose .col-lg-6:last-child{
  padding-left: 30px;
}

.why_choose .why-box:last-child{
  margin-bottom: 0px;
}

.why_choose .why-box .why-content h4 {
    font-size: 22px;
    font-weight: 700;
}

.why_choose .why-image img{
  -webkit-animation-name: tm-animation-floating;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;

}

@-webkit-keyframes tm-animation-floating {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 15px);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}
@-moz-keyframes tm-animation-floating {
  from {
    -moz-transform: translate(0, 0px);
  }
  65% {
    -moz-transform: translate(0, 15px);
  }
  to {
    -moz-transform: translate(0, 0px);
  }
}


.why_choose .why-box .why-content p {
    text-align: justify;
    margin-bottom: 0px;
}

.why_choose .why-box .why-icon{
    margin-right: 20px;
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    animation: ripple-out 1.5s ease-in-out infinite;
}

.why_choose .why-box .why-icon i{
  color: #4682B4;
  font-size: 8px;
}


@keyframes ripple-out{
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 35%);
  }

  100% {
    box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
  }
}

.fertility-image {
  padding-right: 30px;
}

.fertility-content {
  padding-left: 30px;
}

.fertility-image img{
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 2px 0px inset, rgba(0, 0, 0, 0.1) 7px 7px 20px 0px, rgba(0, 0, 0, 0.1) 4px 4px 5px 0px;
}

.affordable-surrogacy{
  margin-top: 100px;
  padding: 80px 0px;
  background-color: whitesmoke;
}

.affordable-surrogacy .guide_download{
  box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 2px 0px inset, rgba(0, 0, 0, 0.1) 7px 7px 20px 0px, rgba(0, 0, 0, 0.1) 4px 4px 5px 0px;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
}

.affordable-surrogacy .guide_download .program_image{
  padding-right: 50px;
}

.affordable-surrogacy .guide_download i{
  font-weight: 900;
}

/* .affordable-surrogacy .guide_download .mybutton span:first-child{
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #ffffff4f;
  padding-left: 15px;
}

.affordable-surrogacy .guide_download .mybutton span:last-child{
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
} */

.testimonials{
  margin-top: 100px;
}

.testimonials .col-lg-6:first-child{
  padding-right: 30px;
}

.testimonials .col-lg-6:last-child{
  padding-left: 30px;
}

.testimonials .item {
    padding: 30px;
    border: 1px solid #e7e7e7;
    position: relative;
}

.testimonials .item:after {
    position: absolute;
    font-size: 48px;
    line-height: 80px;
    top: -40px;
    right: 40px;
    color: #e9edf3;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    content: '\f10e';
    background: #fff;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: all .45s ease-in-out;
    transition: all .45s ease-in-out;
}

.testimonials .content-star{
    margin-bottom: 30px;
}

.testimonials .content-star ul{
  margin: 0px;
  padding: 0px;
}

.testimonials .content-star ul li{
    display: inline-block;
    margin-right: 5px;
    color: #333;
}

.testimonials .content-star ul li.active{
    color: #FF7F50;
}

.testimonials .content-star ul li:last-child{
    margin-right: 0px;
}

.testimonials .item:hover:after{
    color: #4682B4 ;
}

.testimonials .item:hover .testimonial-man{
    background-color: #4682B4 ;
    color: #fff;
}

.testimonials .item:hover .testimonial-man h5{
    color: #fff;
}

.testimonials .item:hover .testimonial-man p{
    color: #fff;
}

.testimonials .testimonial-content h4 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.testimonials .testimonial-content p{
    text-align: justify;
    margin-bottom: 0px;
}

.testimonials .testimonial-man{
    padding-left: 50px;
    margin-top: 25px;
    background: #e9edf3;
    margin-right: -50px;
    padding: 10px 30px;
    position: relative;
    align-items: center;
    -webkit-transition: all .45s ease-in-out;
    transition: all .45s ease-in-out;
}

.testimonials .testimonial-man:before {
    content: "";
    position: absolute;
    top: -25px;
    right: 0;
    border-width: 0 20px 25px 0;
    border-style: solid;
    border-color: #b2b7c0;
    border-right-color: transparent;
    border-left-color: transparent;
    display: block;
    transition: all .4s;
}

.testimonials .testimonial-man{
    display: flex;
    align-items: center;
}

.testimonials .testimonial-man .testimonial-man-image{
    margin-right: 10px;
}

.testimonials .testimonial-man .testimonial-man-image img{
    width: 60px;
}
/* 
.donor-database{
  margin-top: 100px;
  padding: 100px 0px;
  background-image: url(assets/donor-database-bg.webp);
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
} */

.donor-database {
  margin-top: 100px;
  padding: 100px 0px;
  background-image: url('/assets/donor-database-bg.webp');
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.donor-database::after{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  right: 0px;
  top: 0px;
  background: linear-gradient(to right, #4b0082c7, #4682b41f);
  z-index: -1;
}

.donor-database h3, .donor-database p, .donor-database h3 span{
  color: #fff!important;
}

.donor-database h4{
  color: #fff;
  font-style: italic;
}

.donor-database .mybutton_login a:first-child{
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 25px;
}

.donor-database .mybutton_login span{
  color: #fff;
  margin: 0px 20px;
  font-size: 20px;
}

.donor-database .mybutton_login a:last-child{
  background-color: #fff;
  color: #000;
  padding: 10px 25px;
}

.Laboratory_img{
  padding-right: 30px;
}

.Laboratory_img img {
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 2px 0px inset, rgba(0, 0, 0, 0.1) 7px 7px 20px 0px, rgba(0, 0, 0, 0.1) 4px 4px 5px 0px;
}


.trusted{
  margin-top: 100px;
}

.trusted .trusted_box{
  background-color: #4B0082;
  border-radius: 10px;
  overflow: hidden;
}

.trusted .trusted_box h3, .trusted .trusted_box p, .trusted .trusted_box h3 span{
  color: #fff;
}

.trusted .trusted_box .col-lg-6:first-child{
  background-color: #4B0082;
  padding: 30px 30px 30px 45px;
}
.trusted .trusted_box .col-lg-6:last-child{
  background-color: #4682B4;
  padding: 30px 45px 30px 30px;
}

.trusted .trusted_box .col-lg-6 .author{
  color: #fff;
  font-style: italic;
  font-size: 18px;
}

.connects_families{
  margin-top: 100px;
  padding: 80px 0px;
  /* background: linear-gradient(to right, #4B0082, #4682B4); */
  background-color: #4682B4;
}

.connects_families h3, .connects_families p{
  color: #fff;
}

.connects_families h3 span{
  color: #000;
}

.connects_families .connects_families_img img {
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 2px 0px inset, rgba(0, 0, 0, 0.1) 7px 7px 20px 0px, rgba(0, 0, 0, 0.1) 4px 4px 5px 0px;
}

.exclusive_egg{
  margin-top: 100px;
}

.exclusive_egg .guide_download {
    box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 2px 0px inset, rgba(0, 0, 0, 0.1) 7px 7px 20px 0px, rgba(0, 0, 0, 0.1) 4px 4px 5px 0px;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
}

.exclusive_egg .guide_download .program_image{
  padding-left: 50px;
}

.legal_guidance{
  margin-top: 100px;
  background-color: whitesmoke;
  padding: 80px 0px;
  padding-bottom: 280px;
}

/* .legal_guidance .guidance_box h3, .legal_guidance .guidance_box p{
 color: #fff;
} */

.guidance_video{
  margin-top: -250px;
}

.guidance_video_box iframe {
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 2px 0px inset, rgba(0, 0, 0, 0.1) 7px 7px 20px 0px, rgba(0, 0, 0, 0.1) 4px 4px 5px 0px;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 120px;
  background-repeat: repeat;
  background-position: center;
  background-size: 4.5rem auto;
  opacity: 0.4;
}

.stage_2{
  position: fixed;
  top: 0;
  right: -200px;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  max-width: 500px;
  overflow-y: hidden;
  z-index: 2;
}
  


.stage {
  position: fixed;
  top: 0;
  left: -200px;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  max-width: 500px;
  overflow-y: hidden;
  z-index: 2;
}

.mariposa {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 200px;
  height: 200px;
  opacity: 0;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  animation: fly 4s infinite linear;
  animation-delay: .125s;
}

.mariposa:nth-child(2) {
  animation-delay: 0.4s;
}

.mariposa:nth-child(2) .mariposa-turn {
  animation-delay: 0.75s;
}

.mariposa:nth-child(2) .mariposa-turn .mariposa-flutter {
  transform: scale(0.7) rotateX(65deg);
}

.mariposa:nth-child(3) {
  animation-delay: 0.75s;
}

.mariposa:nth-child(3) .mariposa-turn {
  animation-delay: 1.25s;
}

.mariposa:nth-child(3) .mariposa-turn .mariposa-flutter {
  transform: scale(0.3) rotateX(45deg);
}

.mariposa .mariposa-turn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 150px;
  perspective: 1000px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform-origin: 50% 80%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation: turn 3s infinite cubic-bezier(.31,.09,.77,1.5);
  transform-style: preserve-3d;
  filter: drop-shadow(50px 30px 10px rgba(0, 0, 0, 0.5));
}

.mariposa-flutter {
  width: 2rem;
  height: 8rem;
  position: relative;
  top: 0;
  margin: 0 auto;
  background: url(assets/butterfly-body.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform-style: preserve-3d;
  transform: rotateX(25deg) rotateY(5deg);
}

.mariposa-flutter::before,
.mariposa-flutter::after {
  position: absolute;
  top: 5%;
  margin: auto;
  content: "";
  height: 100%;
  width: 250%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform-style: preserve-3d;
  animation-delay: 0;
}

.mariposa-flutter::before {
  background-image: url(assets/butterfly-wing.webp);
  transform-origin: 0% 50%;
  animation: flutter-r 0.3s infinite ease-out;
  left: 55%;
}

.mariposa-flutter::after {
  background-image: url(assets/butterfly-wing-l.webp);
  transform-origin: 100% 50%;
  animation: flutter-l 0.3s infinite ease-out;
  right: 55%;
}

@keyframes flutter-r {
  0%, 100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-40deg);
  }
}

@keyframes flutter-l {
  0%, 100% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(40deg);
  }
}

@keyframes turn {
  0%, 100% {
    transform: translateX(-20%) rotateZ(30deg);
  }
  25% {
    transform: translateX(50%) rotateZ(-30deg);
  }
  50% {
    transform: translateX(-80%) rotateZ(30deg);
  }
  75% {
    transform: translateX(30%) rotateZ(-30deg);
  }
}

@keyframes fly {
  0% {
    opacity: 0;
    transform: translateY(70vh);
  }
  3%, 99% {
    opacity: 1;
  }
  100% {
    transform: translateY(-70vh);
  }
}

.faq{
  margin-top: 100px;
}

.faq .faq_box .accordion-item{
  border: 0px;
  box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 2px 0px inset, rgba(0, 0, 0, 0.1) 7px 7px 20px 0px, rgba(0, 0, 0, 0.1) 4px 4px 5px 0px;
  border-radius: 5px!important;
}

.faq .faq_box button{
  background-color: #fff;
  color: #000;
  font-size: 18px;
  font-weight: 500;  
  border-radius: 0px;
  border: 0px;
  padding: 25px;
}

.faq .faq_box .accordion-button:focus{
  border-color: transparent;
  box-shadow: none;
}

.faq .faq_box .accordion-body{
  text-align: left;
}

.faq .faq_box .accordion-item{
  margin-bottom: 15px;
}

.faq .faq_box .accordion-item:last-child{
  margin-bottom: 0px;
}

.faq .faq_box .accordion-button:not(.collapsed){
  background-color: whitesmoke!important;
}

.faq .faq_box .accordion-button:not(.collapsed)::after {
  background-image: url(assets/download.svg);
}

.my_faq{
  margin-top: 100px;
  padding: 80px 0px;
  background-color: whitesmoke;
}

.my_faq .guidance_box{
  padding-right: 30px;
}

.my_faq .guidance_box{
  padding-right: 30px;
}

.my_faq .guidance_video_box{
  padding-right: 30px;
}

.my_faq .faq_my_box{
  padding-left: 30px;
}

.my_faq .faq_box .accordion-item{
  border: 0px;
  box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 2px 0px inset, rgba(0, 0, 0, 0.1) 7px 7px 20px 0px, rgba(0, 0, 0, 0.1) 4px 4px 5px 0px;
  border-radius: 5px!important;
}

.my_faq .faq_box button{
  background-color: #fff;
  color: #000;
  font-size: 18px;
  font-weight: 500;  
  border-radius: 0px;
  border: 0px;
  padding: 25px;
}

.my_faq .faq_box .accordion-button:focus{
  border-color: transparent;
  box-shadow: none;
}

.my_faq .faq_box .accordion-body{
  text-align: left;
}

.my_faq .faq_box .accordion-item{
  margin-bottom: 15px;
}

.my_faq .faq_box .accordion-item:last-child{
  margin-bottom: 0px;
}

.my_faq .faq_box .accordion-button:not(.collapsed){
  background-color: whitesmoke!important;
}

.my_faq .faq_box .accordion-button:not(.collapsed)::after {
  background-image: url(assets/download.svg);
}

.surrogacy_journey{
  margin-top: 100px;
}

/* .surrogacy_journey .journey_box{
  padding: 50px;
  background-color: #000;
  border-radius: 10px;
  background-image:url(assets/surrogacy-journey-bg.webp) ;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  z-index: 1;
  overflow: hidden;
}*/

.surrogacy_journey .journey_box {
  padding: 50px;
  background-color: #000;
  border-radius: 10px;
  background-image: url('/assets/surrogacy-journey-bg.webp');
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  z-index: 1;
  overflow: hidden;
}


.surrogacy_journey .journey_box::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    right: 0px;
    top: 0px;
    background: linear-gradient(to right, #4b0082c7, #4682b41f);
    z-index: -1;
}

.surrogacy_journey .journey_box h3, .surrogacy_journey .journey_box p{
  color: #fff;
}

.my_ca_box{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  padding-bottom: 40px;
}

.my_ca_box h4 {
    color: #000;
    font-style: italic;
}

.contact_us{
  margin-top: 100px;
}

.contact_us .contact_content img{
  border-radius: 10px;
  margin-top: 50px;
}

.contact_us .contact_box{
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 2px 0px inset, rgba(0, 0, 0, 0.1) 7px 7px 20px 0px, rgba(0, 0, 0, 0.1) 4px 4px 5px 0px;
  margin-left: 30px;
  padding-bottom: 50px;
}

.contact_us .contact_content{
  padding-right: 30px;
}


.contact_us .contact_box label{
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #000;
}

.contact_us .contact_box .input_box{
  margin-bottom: 15px;
}

.contact_us .contact_box .input_box input{
  height: 50px;
  border-radius: 5px;
}

.contact_us .contact_box .input_box input:focus{
  box-shadow: none;
  border:1px solid #FF7F50;
}

.contact_us .contact_box .input_box select{
  height: 50px;
  border-radius: 5px;
}

.contact_us .contact_box .input_box select:focus{
  box-shadow: none;
  border:1px solid #FF7F50;
}

.contact_us .contact_box .input_box textarea{
    height: 100px;
}

.contact_us .contact_box .input_box textarea:focus{
  box-shadow: none;
  border:1px solid #FF7F50;
}

.my_footer{
  margin-top: 100px;
  background-color: #4682B4;
  padding: 80px 0px;
}

.my_footer .footer_menu{
  text-align: center;
}

.my_footer .footer_menu ul{
 margin: 0px;
 padding: 0px; 
}

.my_footer .footer_menu ul li{
  list-style: none;
  display: inline-block;
  padding-right: 20px;
  border-right: 1px solid #fff;
}

.my_footer .footer_menu ul li:last-child{
  padding-left: 20px;
  border: 0px;
  padding-right: 0px;
}

.my_footer .footer_menu ul li a{
  color: #fff;
  font-size: 18px;
}

.conct_details_box{
  display: flex;
  /* align-items: center; */
}


.conct_details_box .conct_details_icon{
  height: 50px;
  width: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.conct_details_box .conct_details_icon i{
  color: #4682B4;
  font-size: 20px;
}

.conct_details_box .conct_details_text{
  margin-left: 15px;
}

.conct_details_box .conct_details_text h5{
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.conct_details_box .conct_details_text a{
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.footer_conct_details{
  padding-bottom: 30px;
}

.footer_menu{
  border-top: 1px solid #ffffff1f;
  padding-top: 30px;
}

.footer_menu p{
  text-align: left;
  margin-bottom: 0px;
  color: #fff;
}

.footer_menu a{
  color: #fff;
}

.footer_menu p a{
  color: #fff;
}

.footer_menu .col-lg-5:last-child p{
  text-align: right;
}
